<%= render 'layouts/navigation' %>

<div class="container" id="main-content" style="display: block;">
	<div class="card bg-light mb-3 mx-auto" id="storage" style="max-width:90%;">
	  <div class="card-header"><b>Want to see the <%= link_to 'list of documents', admin_documents_path %> instead?</b></div>

		<table class="table card-body p-3">
	  	<thead>
	  		<td>S.No</td>
	  		<td>User name</td>
	  		<td>User email</td>
	  		<td># of documents shared by user</td>
	  		<td># of documents shared with user</td>
	  		<td># of documents signed by user</td>
	  	</thead>

	  	<tbody>
		  	<% @users.each_with_index do |u, i| %>
			  	<tr>
					  <td><%= i+1 %></td>
					  <td><%= u.name %></td>
					  <td><%= u.email %></td>
					  <td><%= u.templates.map { |t| t.documents }.count %></td>
					  <td><%= UserDocument.where(user_id: u.id).count %></td>
					  <td><%= UserDocument.where(user_id: u.id, submitted: true).count %></td>
					</tr>
		  	<% end %>
		  </tbody>
	  </table>
	  </div>
	</div>
</div>
