<%= render 'layouts/navigation' %>

<div class="container" id="main-content" style="display: block;">
	<div class="row" style="margin: 50 0 50 0px">
	  <div class="col-md-12 text-center">
	    <p><%= link_to 'Create a template', template_upload_path %></p>
	    <p><%= link_to 'Share a template', template_share_path %></p>
	    <p><%= link_to 'See your documents', document_index_path %></p>
	    <p><%= link_to 'Sign out', session_destroy_path %></p>
	  </div>
	</div>
</div>
