<%= render 'layouts/navigation' %>

<div class="container" id="main-content" style="display: block;">
	<div class="card bg-light mb-3 mx-auto" style="max-width:90%;">
	  <div class="card-header"><b>Step 5:</b> Share the template as a document to <%= @template.number_of_signees %> potential <%= "signee".pluralize(@template.number_of_signees) %></div>
	  <div class="card-body p-3">
			<%= form_tag document_share_path(template_id: @template.id) do %>
				<% @template.number_of_signees.times do |i| %>
					<div class="form-row p-1">
					  <%= label_tag "Email of signee #{i+1}" %>
					  <input id="email_<%= i %>" name="document[emails[email_<%= i %>]]" type="text" class="form-control" />
					</div>
				<% end %>

				<div class="form-group p-3" style="width: 100%; text-align: center;">
				  <%= submit_tag 'Share document', class: "btn btn-primary" %>
				  <%= link_to 'Cancel', session_show_path, class: "btn btn-secondary" %>
				</div>
			<% end %>
	  </div>
	</div>
</div>
