<div class="container" id="main-content" style="display: block;">
	<div class="row" style="margin: 50 0 50 0px">
	  <div class="col-md-12 text-center">
	    <h2>Hey <%= @user.name %>! </h2>
	    <p>You've succesfully signed in. <%= link_to 'Wanna sign out?', session_destroy_path %></p>
	  </div>
	</div>

	<div class="card bg-light mb-3 mx-auto" style="max-width:90%;">
	  <div class="card-header"><b>Step:</b> Read the document and submit if you're agree with the document</div>
	  <div class="card-body p-3">

			<%= form_tag do %>
				<div class="form-group p-3" style="width: 100%; text-align: center;">
					<% if @agreed %>
						Yay, you've already agreed to the document.
					<% else %>
					  <%= link_to 'Sign this document', document_sign_path(document_id: @document.id, user_id: session[:user_id]), class: "btn btn-primary" %>
					  <%= link_to 'Cancel', session_show_path, class: "btn btn-secondary" %>
					<% end %>
				</div>
			<% end %>
	  </div>
	</div>
</div>
