<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top: -40px;">
  <a class="navbar-brand" href="/"><b>CollabDoc</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
   
    </ul>
    <div class="form-inline my-2 my-lg-0" _lpchecked="1">      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Create a template', template_upload_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Share a template', template_share_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'See your documents', document_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign out', session_destroy_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="main-content" style="display: block; padding-top: 50px;">
  <div class="row" style="margin: 50 0 50 0px">
    <div class="col-md-12 text-center">
      <h2>Hey, <%= @user.name %>! </h2>
      <p>You've succesfully signed in. What'd you like to do?</p>
    </div>
  </div>
</div>

